@{
    ViewBag.Title = "About";
}
<h2>Sobre la práctica</h2>
<h3>Práctica Semanal</h3>

<p>
    En su Practica semanal se evaluara lo siguiente:
</p>

<p> 1.- MVC sin autenticación, </p>
<p> 2.- Conexion a la bd, </p>
<p> 3.- DbContext </p>
<p> 4.- Migraciones </p>
<p> 5.- Modelos </p>
<p> 6.- Controladores, </p>
<p> 7.- Vistas personalizadas </p>
<p> 8.- Helpers </p>
<p> 9.- Documentación </p>
<p> 10.- Conclusiones Personales. </p>



