@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>Datos del Alumno</h3>

<img src="~/Content/img/fotomia.jpg" width="150" height="150">
<address>
    <br />
    <strong> <span class="glyphicon glyphicon-user"> </span>  Nombre:</strong> Cisneros Acosta José Enrique<br />
    <strong> <span class="glyphicon glyphicon-sound-5-1"> </span>  N° Control:</strong> 17211668<br />
    <strong> <span class="glyphicon glyphicon-info-sign"> </span>  Carrera:</strong> Ingenieria Informática<br />
    <strong> <span class="glyphicon glyphicon-star"> </span>  Semestre:</strong> 6to Semestre<br />
</address>

<address>
    <h4>Cualquier duda contacte a este correo: </h4>
    <strong> <span class="glyphicon glyphicon-send"> </span>  Correo Electronico:</strong> <a href="mailto:jose.cisneros17@tectijuana.edu.mx">jose.cisneros17@tectijuana.edu.mx</a><br />
</address>