@model PS1_CisnerosAcostaJoseEnrique.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de Ciudad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreciudad)
        </dd>

        <dt>
            Pais
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a ciudades", "Index")
</p>
